<h2>Education</h2>
<p>Below is my academic background and accomplishments:</p>
<ul class="education-list">
  <li>
    <strong>Pace University</strong>, New York, NY<br />
    <em>Master of Science (M.S.) in Information Systems</em>, <span class="certification">Certified Python Programmer</span><br />
    <strong>GPA:</strong> 3.8/4.0 | <strong>Graduation Date:</strong> May 2025<br />
    <span class="highlight">Relevant Coursework:</span> Data Structures, Web Development, Database Management, Machine Learning
  </li>
</ul>
