<ion-header>
  <ion-toolbar>
    <ion-title>Extracurricular Activities</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>
        <strong>Event Planning Committee Member:</strong> Contributed to the event planning committee of the Business Club,
        coordinating and executing professional development events, workshops, and networking sessions. Demonstrated
        organizational skills, attention to detail, and teamwork.
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
