<div class="header">
  <img src="assets/kumar.jpeg" alt="Praveen Kumar Vadla" class="profile-pic" />
  
  <div class="header-details">
    <h1>Praveen Kumar Vadla</h1>
    <p class="location">
      <span aria-hidden="true" class="icon">&#x1F4CD;</span>
      <span>New York, NY 10038</span>
    </p>
    <p class="contact-info">
     <a href="mailto:pv83765n&#64;pace.edu" class="email">
        <span aria-hidden="true" class="icon">&#x2709;</span>
        pv83765n&#64;pace.edu
      </a>

      <span class="phone">
        <span aria-hidden="true" class="icon">&#x260E;</span>
        (201) 687 5544
      </span>
    </p>
    <p>
      <a href="mailto:pv83765n&#64;pace.edu" class="email">
        <span aria-hidden="true" class="icon">&#x2709;</span>
        pv83765n&#64;pace.edu
      </a>
      
    </p>
  </div>
</div>
